#card-body {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.dark-mode {
    background-color: black;
    color: white;
}

.white-mode {
    background-color: rgb(255, 255, 255);
    color: black;
}